# Project dependencies
.yarn
.cache
*.pyc
node_modules
yarn-error.log

/public
# Build directory
/build
.DS_Store
.sass-cache/
_posts/
_site/

.mypy_cache

/.vscode
.idea

config.yaml

scripts/data.db
src/static/activities.json
generate_svg.sh
sync_strava.sh

assets/*
!assets/start.svg
!assets/end.svg